@media only screen and (max-width: 768px) {
    #navbar-full {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    #search::before {
        content: "Search";
        font-size: 1em;
        margin: 20px 0px;
        display: flex;
        font-family: 'Montserrat', sans-serif, Arial, Helvetica;
    }
    #search-icon {
        display: none;
    }
    #nav-icon {
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    /* For desktops: */
    #header-nav {
        height: auto;
        z-index: 1;
    }
    #search, #logo, #navbar-full a {
        padding: 30px;
    }
}