#modal {
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 82, 34, 0.445);
    z-index: 1;
}
#success-modal, #fail-modal {
    width: 100%;
    margin: 10px auto;
    padding: 20px 0px;
    background-color: #FFFFFF;
    font-size: 0.70em;
    text-align: center;
}
.close-modal {
    top: 0;
    left: 0;
    padding: 10px;
    float: right;
}