body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
}
#header-nav {
    flex-direction: row;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #ffffff;
}
#logo {
    width: 60%;
    margin: 10px;
}
#search {
    width: 100px;
}
#search-icon {
    margin: 10px 0px;
}
#nav-icon {
    margin: 10px 10px 0px 0px;
}
#navbar-full {
    flex-direction: row;
    display: flex;
    align-content: flex-end;
    margin: 20px 0px;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
    font-size: 1em;
}
#navbar-full a {
    text-decoration: none;
}
#navbar-full a:hover {
    background-color: #196F3D;
    color: #ffffff;
}
#navbar-full a:visited {
    color: #196F3D;
}
#help {
    cursor: help;
}
#main-content {
    margin-top: 15%;
}
#main-article {
    margin: 30px auto;
    background-color: #ffffff;
}
#topic h3, #trending h3 {
    margin: 0px;
    padding-left: 15px;
    background-color: #ffffff;
    font-size: 0.70em;
}
#title {
    flex-direction: column;
    display: flex;
    justify-content: end;
    margin: 5%;
    width: 85%;
    height: 300px;
    background-image: url("../img/home-01.jpg");
    background-size: cover;
    text-shadow: 1px 1px 2px black;
    color: white;
}
#title h3 {
    margin: 0;
    padding: 0px 10px;
    font-size: 0.625em;
}
#title h1 {
    margin: 0;
    padding: 0px 10px;
    font-family: "Scheherazade New", sans-serif, 'Times New Roman', Times, serif;
    font-size: 2em;
    line-height: 90%;
}
#title h2 {
    margin: 0;
    padding: 0px 10px 10px 10px;
    font-size: 0.75em;
}
#notice {
    width: 85%;
    margin-left: 3%;
    padding: 30px 20px;
}
.notice-p {
    font-size: 0.75em;
}
#read-more {
    width: 100%;
    padding: 4px 0px;
    border-radius: 10px;
    border-style: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}
#post-by {
    flex-direction: column;
    max-width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #196F3D;
    text-align: center;
}
#post-by img {
    max-width: 100px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: #ffffff;
}
#post-by-a {
    font-family: "Scheherazade New", sans-serif, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-decoration: none;
    line-height: 90%;
    color: #ffffff;
}